<!-- lib/ch25_backend_web/templates/layouts/app.html.heex -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ch25Backend</title>
</head>
<body>
  <%= render @view_module, @view_template, assigns %>
</body>
</html>
